<div class="card">
  <div class="card-body">
    <div class="h5">@Vish</div>
    <div class="h7 text-muted">Name : Vishal</div>
    <div class="h7">
      Developer of web applications, JavaScript, .NET, Node.js, AWS, Azure etc.
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="h6 text-muted">Followers</div>
      <div class="h5">2,342</div>
    </li>
    <li class="list-group-item">
      <div class="h6 text-muted">Following</div>
      <div class="h5">6,758</div>
    </li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>
